* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard {
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #000000;
}
.card {
    max-width: 330px;
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    color: #90a1b9;
    background-color: #00000099;
    border: 1px solid #ffffff1a;
    .flex {
        display: flex;
        margin-bottom: 20px;
        color: #05df72;
        font-weight: 500;
        font-size: 16px;
        justify-content: space-between;
        div {
            background-image: linear-gradient(#00b8db33, #00bba733);
            padding: 15px;
            display: grid;
            place-content: center;
            border: 1px solid #00b8db4d;
            border-radius: 14px;
        }
        span {
            display: flex;
            gap: 5px;
            height: fit-content;
            align-items: center;
            img {
                width: 20px;
            }
        }
    }
    p {
        font-weight: 400;
        font-size: 20px;
    }
    h1 {
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 10px;
        span {
            font-size: 25px;
            color: #90a1b9;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .stats {
        color: #62748e;
        font-size: 18px;
    }
    button {
        background-color: #ffffff1a;
        padding: 10px 0;
        border: 1px solid #ffffff33;
        width: 100%;
        border-radius: 8px;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        letter-spacing: 0.15px;
    }
}

@media (min-width: 600px) {
    .dashboard {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
