* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border: 10px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 512px;
    border: 1px solid #ffffff33;
    border-radius: 1rem;
    background-color: #000000;
    padding: 20px 20px 10px;
    h1 {
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
        line-height: 36px;
        letter-spacing: 0.4px;
        margin-bottom: 10px;
    }
    p,
    .p {
        font-size: 1rem;
        color: #90a1b9;
        margin-bottom: 20px;
    }
    .p {
        margin-bottom: 10px;
    }
    b {
        color: #ffffff;
    }

    div:has(button) {
        display: flex;
        gap: 10px;
        button {
            padding: 10px 0;
            background-color: #ffffff0d;
            cursor: pointer;
            width: 100%;
            color: #ffffff;
            font-weight: bold;
            border: 1px solid #ffffff1a;
            border-radius: var(--border);
            font-size: 15px;
        }
        .submit-btn {
            background-image: linear-gradient(to right, #00b8db, #00bba7);
        }
    }
    .close {
        cursor: pointer;
    }
}
.dollar {
    background-image: linear-gradient(#00b8db33, #00bba733);
    width: fit-content;
    display: grid;
    place-content: center;
    padding: 0.5rem;
    border: 1px solid #00b8db4d;
    border-radius: var(--border);
}
.modal-h {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.bal {
    background-image: linear-gradient(#00b8db1a, #00bba71a);
    border: 1px solid #00b8db33;
    border-radius: var(--border);
    padding: 15px;
    margin-bottom: 20px;
    p {
        margin-bottom: 0;
    }
    b {
        font-size: 20px;
    }
}
.price-category {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        padding: 10px 0;
        width: 100%;
        cursor: pointer;
        margin-bottom: 20px;
        flex-direction: column;
        background-color: #ffffff0d;
        border: 1px solid #ffffff1a;
        border-radius: var(--border);
        p {
            margin: 0;
            font-weight: bold;
            color: #ffffff;
        }
        span {
            font-size: 1.2rem;
            color: #00d3f3;
        }
    }
}
form {
    display: flex;
    flex-direction: column;
    input {
        background-color: #ffffff0d;
        width: 100%;
        border: 1px solid #ffffff1a;
        color: #62748e;
        padding: 15px 0;
        display: flex;
        font-size: 20px;
        padding-left: 2rem;
        font-weight: 700;
        align-items: center;
        border-radius: 10px;
    }
    .amount::placeholder {
        color: #62748e;
        font-size: 24px;
        font-weight: 700;
    }
    .wallet::placeholder {
        color: #62748e;
        font-size: 1rem;
    }
    div {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        img,
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 10px;
        }
        p {
            right: 0;
            font-weight: bold;
            padding-right: 10px;
        }
    }
}
