.container {
  background: #000;
  padding: 32px 16px 48px;
}

.button {
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff33;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.badge {
  background: #00c9501a;
  color: #05df72;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 76px;
  border: 1px solid #00c95033;
  font-size: 12px;
  font-weight: 600;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.wrapper_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.padding_content {
  text-align: left;
  padding: 16px 24px;
}
.border_bottom {
  border-bottom: 1px solid #ffffff1a;
}

.table {
  width: 100%;
  border-radius: 24px;
  border: 1px solid #ffffff33;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 750px;
}

.table_title {
  color: #90a1b9;
  font-size: 14px;
  font-weight: 600;
}
.table_content {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.subContent {
  font-size: 14px;
  font-weight: 400;
  color: #90a1b9;
  display: block;
}

.space_top {
  margin-top: 40px;
}

.container_scroll_overflow {
  overflow-x: auto;
}

.container_scroll_overflow::-webkit-scrollbar {
  display: none;
}

.container_scroll_overflow {
  scrollbar-width: none;
}
